<div class="container-fluid">
  <div class="row">
    <img class="img-fluid" src="../assets/Group 914.svg" style="width:100%;">
  </div>
  
    <div class="container-fluid text-block">
      <div class="container">

      
      </div>
      <div class="row  ">

        <div class="col-md-6">
          <h1>
            One platform to communicate, collaborate and accelerate
          </h1>
          <br />
          <p class="text-font " style="width:50%; font-size:20px">
            Slikk helps you get more tasks done in less time. It's everything you need to work faster, collaborate better, and improve productivity at your workplace.
          </p>
          <br />
          <p style="color: #CEFF00;  font-size:25px">50% <i class="fa fa-arrow-down"></i> Calls And Meetings</p>
          <p style="color: #CEFF00;  font-size:25px">45% <i class="fa fa-arrow-up"></i> Goals Achieved</p>
          <p style="color: #CEFF00;  font-size:25px">3X    Producitivity</p>
          <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-12">
              <button class="btn btn-primary mt-2 float-right style mr-3  mb-3 " style="width: 200px; background-color: #FFBB00; color:white ">
                Start Your Free Trial
              </button>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12">
              <button class="btn btn-primary mt-2 ml-3 float-right style  mb-3 " style="width: 200px; background-color: #FFFFFF; color: #6B52F9 ">
                Get a Live Demo
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <img src="../assets/Hero Section Graphic.svg" style="width:70%; height:120%">
        </div>
      </div>
    </div>

    <div style="text-align:center">
      <h1>
        Add Visibility to your Work
        <br>
      </h1>
      <br />
      <div class="container">
        <div class="row ">
          <div class="col-md-4">
            <button type="button" class="btn button btn-circle btn-xl shadow p-3 mb-5 bg-white">
              <img src="../assets/Icon open-graph.svg" style="width:50px;">
            </button>
            <div class="mt-2">Work & Forecasting</div>
          </div>
          <div class="col-md-4">
            <button type="button" class="btn button btn-circle  btn-xl shadow p-3 mb-5 bg-white">
              <img src="../assets/Icon material-group-work.svg" style="width:50px;">
            </button>
            <div class="mt-2">Collaboration Pods</div>

          </div>
          <div class="col-md-4">
            <button type="button" class="btn button btn-circle btn-xl shadow p-3 mb-5 bg-white ">
              <img src="../assets/Icon metro-flow-tree.svg" style="width:50px;">
            </button>
            <div class="mt-2">Strategic Workflows</div>

          </div>
        </div>
      </div>

    </div>
    <div class="container mt-3 ">
      <div class="row d-flex align-items-center">
        <div class="col-md-6">
          <h3>Time Management</h3>
          <p class="text-font " style="width:50%">
            Find and fix anything that eats time. Lavender continuously learns what time works best for you. The dashboard helps you schedule time, manage team capacity, organize global calendars, and track milestones at work. It also shows the current status of projects and where you can make changes to reduce the workload.
          </p>
          <button class="btn btn-primary rounded-pill mt-2 float-right style  mb-3 " style="width:200px ">
            Know More
          </button>
        </div>
        <div class="col-md-6 ">
          <img src="../assets/Group 972.png" style="width:80%;">
        </div>
      </div>
    </div>
    <div class="container mt-3 ">
      <div class="row d-flex align-items-center">
        <div class="col-md-6">
          <img src="../assets/Group 973.png" style="width:80%;">
        </div>
        <div class="col-md-6  ">
          <h3>Task Management</h3>
          <p class="text-font" style="width:50%">
            Teamleap is trained to find and organize tasks in terms of their priority. Each task has a workflow that shows the brief, stakeholders, and deadlines. If the requirement changes anytime, all the assignments get shuffled accordingly. You also have other options like easy search, recurring tasks, and multitask toolbar.
          </p>
          <button class="btn btn-primary rounded-pill mt-2 float-right style  mb-3 " style="width:200px ">
            Know More
          </button>
        </div>
      </div>
    </div>
    <div class="container mt-3">
      <div class="row d-flex align-items-center">
        <div class="col-md-6">
          <h3>Kanban</h3>
          <p class="text-font" style="width:50%">
            Setup in minutes, streamline your work and boost the productivity of your teams. Manage your projects with better task routing and easy workload planning. With intuitive intake forms and customizable workflows, your team can release quality products in less time.
          </p>
          <button class="btn btn-primary rounded-pill mt-2 float-right style  mb-3 " style="width:200px ">
            Know More
          </button>
        </div>
        <div class="col-md-6">
          <img src="../assets/Group 974.png" style="width:80%;">
        </div>
      </div>
    </div>
    <div class="container mt-3">
      <div class="row d-flex align-items-center">
        <div class="col-md-6">
          <img src="../assets/Group 975.png" style="width:80%;">
        </div>
        <div class="col-md-6">
          <h3>Create.Save.Share</h3>
          <p class="text-font" style="width:50%">
            Most digital assets get dropped into some random folder without a central storage location. Now, have all your files in one secure cloud storage to maintain brand consistency and repurpose at scale. Plus, keep things regulated with simple permission settings.
          </p>
          <button class="btn btn-primary rounded-pill mt-2 float-right style  mb-3 " style="width:200px ">
            Know More
          </button>
        </div>
      </div>
    </div>
    <div style="text-align:center">

      <h2>
        Testimonials
        <br />
      </h2>
      <div class="container-fluid center">
        <div class="row">
          <div class="col-md-3">
            <img src="../assets/ivana-cajina-_7LbC5J-jw4-unsplash.png" style="width:60%;">
          </div>

          <div class="col-md-6">
            <div style="width: 900px; height: 150px; border: 1px solid #000;background-color: #fceeff; border-radius:25px">
              <p style="text-align: center; width:60%">
                Hapto has been an integral part of our work ecosystem,keeping track of things has
                <b>Alan Thicke,Manager,Polymer</b>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />
    <div class="container  mt-3">
      <div class="center" style="width: 900px; height: 95px; vertical-align:central; border: 1px solid #000; border-radius:25px">
        <div class="text-font" style="font-size:25px">
          <img src="../assets/Group 782.png" class="text-font;" style="width:11%;">Task Management made simple
          <button class="btn btn-primary rounded-pill float-right mt-2  style  mb-3 " style="width:200px">
            Book a Demo
          </button>
        </div>

      </div>

   
      <div style="width: 100%; height: 100px; border: 1px solid #000; background-color: #3F0077; color:white" class="rectangle">
        <br />
        <div class="row">
          <div class="col-md-8">
            <p class="ml-3 "><b>Hapto also works great on smaller screens</b></p>
          </div>
          <div class="col-md-4 float-right">

            <img src="../assets/Group 790.svg" style="width:134px;">
            <img src="../assets/Group 791.svg" style="width:134px;">

          </div>
          
          </div>
        </div>
    </div>
  </div>





